
.prelanding_creator_wrap {
  width: 100%;
  height: 341px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  .prelanding_creator-card {
    width: 50%;
    .prelanding-image{
      width: 60px;
      img{
        width: 100%;
      }
    }
    .file-input {
      display: none;
    }
  }
}
