<form class="offer_creator_wrap"
      [formGroup]="form"
      (ngSubmit)="setStatus()"
>
  <mat-card class="offer_creator-card">

    <mat-card-header>

      <mat-card-title>Create domains</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <textarea matInput placeholder="Placeholder"
                    formControlName="domains"></textarea>


        </mat-form-field>
      </p>

      <section class="example-section">

        <mat-radio-group>
          <mat-radio-button   (click)="setStatusDom('dead')" value="dead">dead links</mat-radio-button>
          <mat-radio-button   (click)="setStatusDom('removed')" value="removed">remove links</mat-radio-button>
        </mat-radio-group>
      </section>

    </mat-card-content>


    <mat-card-actions>
      <button type="submit" color="primary" mat-button>Set status</button>
    </mat-card-actions>

  </mat-card>
</form>
