.mat-card-avatar {

	    width: 72px;
    	height: 103px;

			img.offer_img{
				width: 100%;
			}

		}

.mat-card {

    color: rgb(0 0 0 / 68%);
}
.link_to_black{
	color:#00000042;
}


.field_icons{
	color: #00000042;
}
.link-button-row{

}

.form_content_box{
width: 100%;
display: flex;
justify-content: center;
  position: relative;
  overflow: hidden;
}

.linkcreator-form{
width: 85%;

}

.offer-image{
  width: 52px;
}

.href_icon{
  color: #8980ca;
  font-size: 19px;
  padding-left: 4px;
  padding-top: 8px;
}

.finish_link_block{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: 30px;
  background: rgba(1, 109, 255, 0.19);
  border-radius: 100px;
  padding: 6px;

  .finish_link_text{
    padding: 15px;
    font-size: 12px ;
    width: 215px;
    overflow: hidden;
    white-space: nowrap;
  }
  .icon_list{
    margin-left: 30px;
    width: 31%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    mat-icon{
      font-size: 18px;
      height: 18px;
    }
    .copy{
      color: #468ae6;
      cursor: pointer;
    }
    .copied_field{
      font-size: 10px;
      font-style: italic;
      color: #4d70b8cf;
      font-weight: 400;
      position: absolute;
    }
    .del{
      color: #e64646;
      cursor: pointer;
    }
  }
}
.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;

  .mat-radio-list{
    display: flex;
    justify-content: space-around;
    width: 42%;
  }

  .mat-radio-list-white{
    padding-left: 20px;
  }

}

.example-white-sec{
  height: 30px;
}

.example-margin-label {
  margin: 0 10px;
  font-style: italic;
  margin-right: 1px;
  font-weight: 400;
  font-size: 14px;
  color: #909090;
}
.white-chip-list{
  position: absolute;
  right: 0px;
  width: 170px;
  top: 0;
  overflow: hidden;
  height: 358px;
  overflow-y: scroll;

div.mat-chip-list-wrapper{
display: flex;
flex-direction: column;
}

.white-list-item{
background-color: #fff;
border: 1.1px solid rgb(119 140 180 / 29%);
font-weight: 400;
color: #464444;
font-size: 12px;
}
}
.m-link_color{
color: #54d1eca1;
font-size: 15px;
}
