<mat-card class="example-card">

  <mat-card-header>




    <div mat-card-avatar class="offer-image"><img class="offer_img" [src]="newbundle.offer_img"></div>


    <mat-card-title>
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip *ngIf="newbundle.preland_img">
          <img matChipAvatar [src]="newbundle.preland_img"/>
          {{newbundle.name}}
          <a target="_blank" href="{{newbundle.preland_url}}"><mat-icon class="href_icon">open_in_new</mat-icon></a>
        </mat-chip>
      </mat-chip-list>
    </mat-card-title>
    <mat-card-subtitle *ngIf="newbundle.offer">{{newbundle.offer}}  {{newbundle.geo}}</mat-card-subtitle>

  </mat-card-header>

  <mat-card-content>



  	<div class="form_content_box">

  		<form class="linkcreator-form"
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
      >

        <section class="example-section example-white-sec">
          <label class="example-margin example-margin-label">White:</label>
          <mat-radio-group *ngIf="newbundle.geo" class="mat-radio-list mat-radio-list-white">
            <mat-radio-button class="example-margin" (click)="getwhitepage(newbundle.geo)" value="Old">Mobirise</mat-radio-button>
            <mat-radio-button disabled="true" (click)="getnewwhitepage(newbundle.geo)"  class="example-margin" value="New">New</mat-radio-button>
          </mat-radio-group>
        </section>

        <section class="example-section">
          <label class="example-margin example-margin-label">Domain:</label>
          <mat-radio-group *ngIf="newbundle.geo" class="mat-radio-list">
            <mat-radio-button checked="true" class="example-margin" value="Old">Old</mat-radio-button>
            <mat-radio-button disabled class="example-margin" value="New">New</mat-radio-button>
          </mat-radio-group>
        </section>

  <mat-form-field appearance="outline">
    <mat-label>Facebook pixel</mat-label>
    <input matInput formControlName="sub1">
    <mat-icon class="field_icons" matSuffix>developer_mode</mat-icon>

  </mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label>User name</mat-label>
    <input matInput disabled value="{{sub2}}" >
    <mat-icon class="field_icons" matSuffix>sentiment_very_satisfied</mat-icon>

  </mat-form-field>

 <mat-form-field appearance="outline">
    <mat-label>Campaign name</mat-label>
    <input matInput formControlName="sub3">
    <mat-icon class="field_icons" matSuffix>route</mat-icon>

  </mat-form-field>
  <div class="link-button-row">
  <button
    [disabled]="start || !newbundle.offer || form.disabled"
    mat-raised-button color="accent" type="submit">Create link <mat-icon>add_link</mat-icon></button>
	</div>
</form>

      <mat-chip-list *ngIf="whitelistbool"  class="white-chip-list">
        <mat-chip
          *ngFor="let whiteitem of whitepack"
          (click)="getWhite(whiteitem)"
          class="white-list-item"
        >
          {{whiteitem.constructor+' '+whiteitem.topic+' '+whiteitem.number}}
          <a target="_blank" href="{{whiteitem.white_url}}"><mat-icon style="width: 14px;" class="href_icon m-link_color">open_in_new</mat-icon></a>
          <button style="margin-left:0 "disabled
                  *ngIf="getwhitebool &&
                          getonewhite.constructor === whiteitem.constructor &&
                          getonewhite.topic === whiteitem.topic &&
                          getonewhite.number === whiteitem.number
                        "

                  matChipRemove>
            <mat-icon
              style="color: #717279;
              width: 19px;
              height: 19px;
              font-size: 12px;"
            >
              pan_tool
            </mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>

</div>




  </mat-card-content>
  <mat-list *ngIf="finish">
    <mat-list-item>
      <div class="finish_link_block">
        <span class="finish_link_text">
         {{finishres}}

        </span>
        <div class="icon_list">
          <p class="copied_field" *ngIf="copy">copied</p>
          <mat-icon [cdkCopyToClipboard]="finishres" (click)="copy = true" class="copy">content_copy</mat-icon>
          <mat-icon class="del" (click)="removeLink(finishres)">delete</mat-icon>
        </div>


      </div>

    </mat-list-item>
  </mat-list>
  <mat-card-actions>

  </mat-card-actions>

</mat-card>
