.mat-card-avatar {

	    width: 72px;
    	height: 103px;

			img.offer_img{
				width: 100%;
			}

		}

.mat-card {

    color: rgb(0 0 0 / 68%);
}
.link_to_black{
	color:#00000042;
}


.field_icons{
	color: #00000042;
}
.link-button-row{

}

.form_content_box{
width: 100%;
display: flex;
justify-content: center;

}

.linkcreator-form{
width: 85%;

}

.offer-image{
  width: 52px;
}

.href_icon{
  color: #8980ca;
  font-size: 19px;
  padding-left: 4px;
  padding-top: 8px;
}

.finish_link_block{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: 30px;
  background: rgba(1, 109, 255, 0.19);
  border-radius: 100px;
  padding: 6px;
  .finish_link_text{
    padding: 15px;
    font-size: 12px ;
    width: 215px;
    overflow: hidden;
    white-space: nowrap;
  }
  .icon_list{
    margin-left: 30px;
    width: 31%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    mat-icon{
      font-size: 18px;
      height: 18px;
    }
    .copy{
      color: #468ae6;
    }
    .del{
      color: #e64646
    }
  }
}
