<div class="links-container">
<div class="customchiplist">
  <mat-chip (click)="selectLinkList('active')" class="linksStatus activel">
    active
    <button *ngIf="linkstatus === 'active'" matChipRemove>
      <mat-icon>visibility</mat-icon>
    </button>
  </mat-chip>
  <mat-chip (click)="selectLinkList('removed')" color="primary" class="linksStatus removel">
    removed
    <button *ngIf="linkstatus === 'removed'" matChipRemove>
      <mat-icon>visibility</mat-icon>
    </button>
  </mat-chip>
  <mat-chip (click)="selectLinkList('banned')" color="accent" class="linksStatus bannedl">
    banned
    <button *ngIf="linkstatus === 'banned'" matChipRemove>
      <mat-icon>visibility</mat-icon>
    </button>
  </mat-chip>
</div>



  <mat-accordion class="example-headers-align">

    <mat-expansion-panel *ngFor="let link of links">

      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-chip class="{{link.geo}}_color">{{link.geo}} </mat-chip>
          <p class="link-subtitle"> {{ link.offer }} <span> {{ link.preland }} </span></p>
        </mat-panel-title>
        <mat-panel-description style="    font-size: 12px;">
          {{ link.full_link }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-action-row>
        <button *ngIf="linkstatus === 'banned' || linkstatus === 'removed'" mat-button color="accent" [matMenuTriggerFor]="menufree"  #menuTrigger >Free</button>
        <mat-menu #menufree>
          <button mat-menu-item (click)="updateLink(link._id, 'free')">Free</button>
        </mat-menu>

        <button *ngIf="linkstatus === 'active'" mat-button color="warn" [matMenuTriggerFor]="menuremove"  #menuTrigger >Remove</button>
        <mat-menu #menuremove>
          <button mat-menu-item (click)="updateLink(link._id, 'removed')">Remove</button>
        </mat-menu>
        <button *ngIf="linkstatus === 'active' || linkstatus === 'removed'" mat-button color="primary" [matMenuTriggerFor]="menuban"  #menuTrigger >Banned</button>
        <mat-menu #menuban>
          <button mat-menu-item (click)="updateLink(link._id, 'banned')">Banned</button>
        </mat-menu>
      </mat-action-row>
    </mat-expansion-panel>


  </mat-accordion>
</div>
