.links-container{
padding-top: 25px;
}

.link-subtitle{
  font-size: 14px;
  padding: 10px;
  color: #818181;
  span{
    font-style: italic;
  }
}





.ES_color{
  background-color: #ffd740;
}
.IT_color{
  background-color: #3a91b7;
  color: #fff;
}
.CO_color{
  background-color: #88edb7;
  color: #fff;
}
.MX_color{
  background-color: #4fbbc0;
  color: #fff;
}
.RO_color{
  background-color: rgba(69, 188, 101, 0.9019607843);
  color: #fff;
}
.PL_color{
  background-color: #f44336;
  color: #fff;
}
.CZ_color{
  background-color: rgba(69, 188, 101, 0.9019607843);
}
.HU_color{
  background-color: rgb(230 128 119 / 90%);
  color: #fff;
}
.PH_color{
  background-color: rgb(215 103 193 / 80%);
  color: #fff;
}
.SK_color{
  background-color: rgb(217 123 147 / 76%);
  color: #fff;
}
.BG_color{
  background-color: #7d66dbd4;
  color: #fff;
}
.GR_color{
  background-color: #739ed9;
  color: #fff;
}
.PT_color{
  background-color: #e6a559c9;
  color: #fff;
}
.PE_color{
  background-color: #c85cf0cf;
  color: #fff;
}
.AR_color{
  background-color: #d76262;
  color: #fff;
}
