<div class="links-container">
  <form class="search-form">
    <mat-form-field appearance="legacy">
      <mat-label>Search</mat-label>
      <input type="text" matInput placeholder="https://example.com/?e=AbcDefGh123abc">
      <button mat-icon-button matSuffix >
        <mat-icon matSuffix>search</mat-icon>
      </button>

    </mat-form-field>
  </form>

  <mat-accordion class="example-headers-align">

    <mat-expansion-panel >

      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-chip class="ES_color">ES </mat-chip>
          <p class="link-subtitle">KetoLight <span>ElPais</span></p>
        </mat-panel-title>
        <mat-panel-description style="    font-size: 12px;">
          https://beoloi.fun/?e=SUNQUi9lRmhld0t5WGJOdlZTMjcveU1wY1VEbXpzdmJteU5yV3VtYVJyYz0
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-action-row>
        <button mat-button color="warn" >Remove</button>
        <button mat-button color="primary" >Banned</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel >

      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-chip class="IT_color">IT </mat-chip>
          <p class="link-subtitle">KetoLight <span>Anna</span></p>
        </mat-panel-title>
        <mat-panel-description style="    font-size: 12px;">
          https://beoloi.fun/?e=SUNQUi9lRmhld0t5WGJOdlZTMjcveU1wY1VEbXpzdmJteU5yV3VtYVJyYz0
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-action-row>
        <button mat-button color="warn" >Remove</button>
        <button mat-button color="primary" >Banned</button>
      </mat-action-row>
    </mat-expansion-panel>


  </mat-accordion>
</div>
